{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" type="text/css" href="{% static 'css/styles.css' %}">
  <title>Welcome to IETI Marikina</title>
</head>
<body>

  <div class="container">
    <header class="header">
      <nav>
        <ul>
          <li><a href="#home">Login</a></li>
          <li><a href="#news">Sign Up</a></li>
          <li><a href="#contact">Contact</a></li>
          <li style="float:left"><a class="active" href="#about">IETI: College of Science and Technology</a></li>
        </ul>
      </nav>
    </header>

    <main>

      <!-- Iframe to show the selected floor image with interactive map -->
      
    </main>

    <footer>
      <!-- Footer Content Here -->
    </footer>
  </div>

  <script src="{% static 'js/script.js' %}"></script>

</body>
</html>
